header {
    padding: 0 .5rem .5rem;
    border-bottom: 1px solid gray;
    height: 4.25rem;
    background-color: #000066;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    font-size: clamp(1.2rem, 1.098rem + 0.4183vw, 1.6rem);

    a {
        display: inline-block;
        color: wheat;

        &:first-of-type {
            margin-left: 1rem;
        }

        &:hover,
        &:focus {
            color: orangered;
            text-decoration: underline;
        }
    }
}